@using CSharks.NFEs.Domain.Models;
@using CSharks.NFEs.Domain.Models.NF_UTILS;
@model Service;
@{
    List<ISQN> isqns = ViewBag.isqns;
    User user = ViewBag.enterpise;
    ViewData["Title"] = "Shark NFE - Registro Serviço";
}

<section class="col-8 mx-auto">
    <h1> @ViewData["Title"]</h1>
    <div class="mt-2">
        @await Html.PartialAsync("_MessageResult")
    </div>
    <form id="form-service" asp-controller="Service" asp-action="Create" method="POST">
        <input id="input-tom" type="hidden" value="@user.Enterprise.City" />
         <div class="form-group"> 
            <label asp-for="codigo_item_lista_servico" class="control-label"> Código do Serviço </label>
            <select id="selectize-codigo-descricao-servico" class="">
                @if (isqns != null && isqns.Any())
                {
                    <option> Selecione </option>
                    foreach (ISQN isqn in isqns)
                    {
                        <option value="@isqn.Code" data-aliquota="@isqn.Aliquot">
                            @isqn.Code : @isqn.Description 
                        </option>
                    }
                }
                else
                {
                    <option> Import INQS - Padrão CANE </option>
                }

            </select>
            <input id="input-codigo-servico" type="hidden" asp-for="codigo_item_lista_servico" />
            <span asp-validation-for="codigo_item_lista_servico" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="descritivo" class="control-label"> Descrição</label>
            <input id="input-descricao" asp-for="descritivo" class="form-control" readonly />
            <span asp-validation-for="descritivo" class="text-danger"></span>
        </div>
        <div class="form-group mt-2 ms-3 bg-light p-1 rounded-2">
            <label asp-for="tributa_municipio_prestador" class="control-label"> Tributável no Município do Prestador? </label>
            <input id="checkbox-tributavel" type="checkbox" asp-for="tributa_municipio_prestador" class="form-check-input ms-2" />
            <span asp-validation-for="tributa_municipio_prestador" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <div class="form-group mt-1 align-self-en">
                <label asp-for="codigo_local_prestacao_servico" class="control-label">Código local prestação de serviço</label>
                <input id="codigo-tom" asp-for="codigo_local_prestacao_servico" class="form-control mt-1" />
                <span asp-validation-for="codigo_local_prestacao_servico" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 align-self-end flex-grow-1">
                <label asp-for="aliquota_item_lista_servico" class="control-label"> Alíquota (%)</label>
                <div class="input-group mt-1">
                    <input id="input-aliquota" asp-for="aliquota_item_lista_servico" class="form-control" readonly />
                    <span asp-validation-for="aliquota_item_lista_servico" class="text-danger"></span>
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-1 align-self-end flex-grow-1">
                <label asp-for="situacao_tributaria" class="control-label"> Situação Tributária </label>
                <input type="text" asp-for="situacao_tributaria" class="form-control mt-1" placeholder="Em progresso"/>
                <span asp-validation-for="situacao_tributaria" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="valor_tributavel" class="control-label">Valor Tributável</label>
            <input type="number" asp-for="valor_tributavel" class="form-control" />
            <span asp-validation-for="valor_tributavel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button id="btn-cadastrar" class="btn bg-shark text-white" style="width: 7rem;">Cadastrar</button>
        </div>
    </form>
</section>
