@using CSharks.NFEs.Domain.DTOs;
@model LoginDTO;
@{
    Layout = "_LayoutOff";
    ViewData["Title"] = "Shark NFE - Login";
}

<section>
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <div class="fadeIn first">
                <img src="/images/icon.jpeg" id="icon" alt="User Icon"/>
                <h5 class="title-login text-center"> @ViewData["Title"] </h5>
            </div>

            <!-- Login Form -->
            <form asp-action="InputValidate" asp-controller="Login" method="POST">
                <div class="mx-3">
                    @await Html.PartialAsync("_MessageResult")
                </div>
                <input asp-for="Cnpj" type="text" id="cnpj" class="fadeIn second form-control" name="cnpj" placeholder="cnpj">
                <input asp-for="Login" type="text" id="login" class="fadeIn second form-control" name="login" placeholder="login">
                <input asp-for="Password" type="password" id="password" class="fadeIn third form-control" name="password" placeholder="senha">
                <input type="submit" class="fadeIn fourth" value="Entrar">
                <div class="mb-1">
                    <a id="register-anchor" class="underlineHover fadeIn fourth" asp-action="Index" asp-controller="Enterprise">Registrar-se</a>
                </div>
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <p class="m-0">@Html.ValidationMessageFor(x => x.Cnpj)</p>
                <p class="m-0">@Html.ValidationMessageFor(x => x.Login)</p>
                <p class="m-0">@Html.ValidationMessageFor(x => x.Password)</p>
            </div>
        </div>
    </div>
    @*<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
    <div class="card mt-5">
    <div class="card-body">
    <h1 class="text-center mb-4"> @ViewData["Title"]</h1>
    <form asp-action="InputValidate" asp-controller="Login" method="POST">
    <div class="mb-3">
    <label for="username" class="form-label">Empresa</label>
    <input asp-for="Cnpj" type="text" class="form-control">
    @Html.ValidationMessageFor(x => x.Cnpj)
    </div>
    <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input asp-for="Login" type="text" class="form-control">
    @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input asp-for="Password" type="password" class="form-control">
    @Html.ValidationMessageFor(x => x.Password)
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <div class="text-center">
    <a asp-action="Index" asp-controller="Enterprise"> Registrar-se</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>*@
</section>

@section Scripts {
    <script type="text/javascript">

    </script>
}
