@using CSharks.NFEs.Domain.Models;
@{
    ViewData["Title"] = "Shark NFE - Home";
    List<EmitedNF> emiteds = ViewBag.ListRecents;
}

<section class="">

    <div class="header-index">
        <h3 class="text-right ">Informações @TempData["NameUserLogged"]</h3>
    </div>

    <div class="mt-3">
        @await Html.PartialAsync("_MessageResult")
    </div>

    <div class="container d-flex">
        <div class="flex-grow-1">
            <div class="bg-white border rounded-start" style="">
                <div class="card-body">
                    <h5 class="card-title display-6 text-center text-color-green">@TempData["EmitQuantity"]</h5>
                    <p class="card-text text-center">Notas Fiscais Emitidas</p>
                </div>
            </div>
        </div>
        <div class="flex-grow-1">
            <div class="bg-white border" style="">
                <div class="card-body">
                    <h5 class="card-title display-6 text-center text-color-green">@TempData["EmitCanceled"]</h5>
                    <p class="card-text text-center">Notas Fiscais Canceladas</p>
                </div>
            </div>
        </div>
        <div class="flex-grow-1">
            <div class="bg-white border rounded-end" style="">
                <div class="card-body">
                    <h5 class="card-title display-6 text-center text-color-green">R$ @TempData["TotalValue"]</h5>
                    <p class="card-text text-center">Faturamento Anual</p>
                </div>
            </div>
        </div>
    </div>

    <div class="header-index mt-3">
        <h3 class="text-right ">Nossos Serviços @TempData["NameUserLogged"]</h3>
    </div>

    <div class="container d-flex flex-column container-space">
        <div class="d-flex text-center">
            <div class="col-4">
                <ul class="p-0">
                    <li class="">
                        <img class="img-icon" src="~/images/nfIcon-02.svg" alt="Card image cap">
                    </li>
                    <li>
                        <h2>Notas Fiscais</h2>
                        <span class="text-wrap">Aqui podemos emitir, listar, administrar todas as notas fiscais realativas ao sistema</span>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="p-0 flex-grow-1">
                    <li class="">
                        <img class="img-icon" src="~/images/cadastroIcon-02.svg" alt="Card image cap">
                    </li>
                    <li>
                        <h2>Cadastros</h2>
                        <span class="text-wrap">Aqui você pode cadastar usuários, serviços, clientes etc...</span>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="p-0">
                    <li class="">
                        <img class="img-icon" src="~/images/dashboardIcon-02.svg" alt="Card image cap">
                    </li>
                    <li>
                        <h2>Relatórios</h2>
                        <span class="text-wrap">Aqui você pode ter acesso aos relatórios do sistema para levantamento de dados</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-3 overflow-scroll">

            <div class="header-index">
                <h3 class="text-right ">Nfs - Recentes @TempData["NameUserLogged"]</h3>
            </div>

            <div class="overflow-hidden">
                <table id="dt-recents" class="display overflow-hidden" style="width:100%">
                    <thead>
                        <tr>
                            <th>Data Emissão</th>
                            <th>Serviço</th>
                            <th>Número NFSE</th>
                            <th>Cliente</th>
                            <th>Valor</th>
                            <th>Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(emiteds != null && emiteds.Any()){
                            foreach (EmitedNF emited in emiteds)
                            {
                                <tr>
                                    <td>@emited.EmitDate</td>
                                    <td> @emited.ServiceName</td>
                                    <td>@emited.NoNfse</td>
                                    <td> @emited.ClientName</td>
                                    <td>R$ @emited.ValueNF ,00</td>
                                    <td style="color: green"> <b> Emitida </b></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}
