@using CSharks.NFEs.Domain.Models;
@{
    ViewData["Title"] = "Shark NFE - NFEs";
    List<EmitedNF> emiteds = ViewBag.ListEmiteds; 
}

<section>
     <h3> Notas emitidas </h3>
    <table id="dt-nf" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Data Emissão</th>
                <th>Serviço</th>
                <th>Número NFSE</th>
                <th>Cliente</th>
                <th>Valor</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(emiteds != null && emiteds.Any())
            {
                foreach (EmitedNF emited in emiteds)
                {
                    <tr>
                        <td>@emited.EmitDate</td>
                        <td> @emited.ServiceName</td>
                        <td>@emited.NoNfse</td>
                        <td> @emited.ClientName</td>
                        <td>R$ @emited.ValueNF ,00</td>
                        <td style="color: green"> <b> Emitida </b></td>
                        <td>
                            <a class="btn btn-success" href="@emited.LinkPDF" target="_blank">  Ver PDF  </a>
                            <a class="btn btn-outline-success" onclick="downloadXML('@emited.EmitDate')"> Download XML </a>
                            <span class="ml-5"> X </span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


</section>

@section Scripts {
    <script type="text/javascript">
        var showOptionsLink = document.getElementById("show-options");
        var optionsList = document.getElementById("options-list");
        showOptionsLink.addEventListener("click", function () {
            optionsList.style.display = "block";
        });

        function downloadXML(fname){
            alert(fname);
            $.ajax({
                url: '@Url.Action("DownloadAction", "Nfe")',
                data: {fileName : fname},
                type: "POST",
                dataType: "json",
                success: function (response) {
                    var downloadUrl = response.fileUrl;
                    var anchor = document.createElement('a');
                    anchor.href = downloadUrl;
                    anchor.download = 'NF.xml';
                    anchor.click();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
           
        
        


    </script>
}
