@using CSharks.NFEs.Domain.Models;
@{
    ViewData["Title"] = "Shark NFE - NFEs";
    List<EmitedNF> emiteds = ViewBag.ListEmiteds; 
}

<section>
    <div id="partial" class="mt-3">
        @await Html.PartialAsync("_MessageResult")
    </div>
     <h3> Notas emitidas </h3>
    <table id="dt-nf" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Data Emissão</th>
                <th>Serviço</th>
                <th>Número NFSE</th>
                <th>Cliente</th>
                <th>Valor</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(emiteds != null && emiteds.Any())
            {
                foreach (EmitedNF emited in emiteds)
                {
                    <tr>
                        <td>@emited.EmitDate</td>
                        <td> @emited.ServiceName</td>
                        <td>@emited.NoNfse</td>
                        <td> @emited.ClientName</td>
                        <td>R$ @emited.ValueNF ,00</td>
                        @if (emited.Situation.Equals("Cancel"))
                        {
                            <td class="text-color-red"> <b> Cancelado </b></td>
                        }
                        else
                        {
                            <td class="text-color-green"> <b> Emitido </b></td>
                        }

                        <td>
                            <a class="btn btn-green" href="@emited.LinkPDF" target="_blank"><img class="img-btn" src="~/images/viewIcon-02-02-02.svg"></a>
                            <a class="btn btn-standard-1" onclick="downloadXML('@emited.EmitDate')"><img class="img-btn" src="~/images/downloadIcon-02-02.svg"></a>
                            <a class="btn btn-danger-1" onclick="cancelNF('@emited.NoNfse')"><img class="img-btn" src="~/images/cancelIcon-02-02-02.svg"></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>

@section Scripts {
    <script type="text/javascript">
        var showOptionsLink = document.getElementById("show-options");
        var optionsList = document.getElementById("options-list");
        showOptionsLink.addEventListener("click", function () {
            optionsList.style.display = "block";
        });

        function downloadXML(fname){
            $.ajax({
                url: '@Url.Action("DownloadAction", "Nfe")',
                data: {fileName : fname},
                type: "POST",
                dataType: "json",
                success: function (response) {
                    var downloadUrl = response.fileUrl;
                    var anchor = document.createElement('a');
                    anchor.href = downloadUrl;
                    anchor.download = 'NF.xml';
                    anchor.click();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function cancelNF(noNfse){
            $.ajax({
                url: '@Url.Action("CancelNF", "CancelNF")',
                data: {noNfse : noNfse},
                type: "POST",
                success: function (response) {
                },
                error: function (xhr, status, error) {
                   alert("Já cancelada");
                }
            });
        };


    </script>
}
