@using CSharks.NFEs.Domain.Models;
@model Client
@{
    List<Service> services = ViewBag.services;
    List<Client> clients = ViewBag.clients;
    ViewData["Title"] = "Shark NFE - NFEs";
}

<section>
    <div class="container">
        <div class="form-control">
            <form>
                <div class="mt-4">
                    <h2> Emitir uma nova Nota Fiscal </h2>
                </div>
                <div>
                    <label> Serviços </label>
                    <select class="form-control" id="selectService">
                        @if (services != null && services.Any())
                        {
                            foreach (Service service in services)
                            {
                                <option value="@service.Id">@service.codigo_item_lista_servico - @service.descritivo</option>
                            }
                        }
                        else
                        {
                            <option> Cadastre um Serviço. </option>
                        }

                    </select>
                </div>
                <div>
                    <label> Clientes </label>
                    <select class="form-control" id="selectClient">
                        @if (clients != null && clients.Any())
                        {
                            foreach (Client client in clients)
                            {
                                <option value="@client.Id">@client.Name</option>
                            }
                        }
                        else
                        {
                            <option> Cadastre um Cliente. </option>
                        }
                    </select>
                </div>
                <div>
                    <button type="submit" id="btn-Emmit" class="btn btn-primary mt-4"> Emitir </button>
                </div>
            </form>
        </div>

    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $("#btn-Emmit").click(function () {
            var idClient = $("#selectClient").val();
            var idService = $("#selectService").val();
            $.ajax({
                type: "POST",
                url: "/EmmitNf/EmmitNf",
                data: { idClient: idClient, idService: idService },
                success: function (result) {
                    console.log("Success!");
                },
                error: function (error) {
                    console.log("Error!");
                }
            });
        });
    </script>
}
